<h1><%=@cur_survey.title%></h1>
<h4><%=@cur_survey.topic%></h4>
<ol>
  <form name="submit" id="submit" action="/response/new/survey/<%=@cur_survey.id%>/" method="POST">
  <%@questions.each_with_index do |question, index| %>
    <dt><li><%=question.description%></li></dt>
      <br>
          <%@choices.each do |choice|%>
            <% if choice.question_id == question.id %>
                <input type="radio" name="response<%=index+1%>" value= "Choice<%=index+1%>" ><%=choice.option%>
      <br>
              <%end%>
        <%end%>
    <%end%>
    <input type="submit">
  </form>
</ol>



