<h1><%=@cur_survey.title%></h1>
<ol>
  <%@cur_survey.questions.each do |q| %>
    <% @choices.each do |choice|%>
    <form>
      <dt><li><%=q.description%></li><br>
      <input type="radio" name="sex" value="response" checked>Choice: <%=choice.option%>
      <br>
      <input type="radio" name="sex" value="response">Choice: <%=choice.option%>
      <br>
      <input type="radio" name="sex" value="response">Choice: <%=choice.option%>
      <br>
      <input type="radio" name="sex" value="response">Choice: <%=choice.option%>
    </form>
      <%end%>
    </dt>
  <%end%>
</ol>


